:root {
    --neutral-20: rgba(217, 217, 217, 1);
    --neutral-50: rgba(145, 145, 145, 1);
    --neutral-90: rgba(48, 48, 48, 1);
    --poppins-heading-bold-font-family: "Poppins-SemiBold", Helvetica;
    --poppins-heading-bold-font-size: 56px;
    --poppins-heading-bold-font-style: normal;
    --poppins-heading-bold-font-weight: 600;
    --poppins-heading-bold-letter-spacing: 0px;
    --poppins-heading-bold-line-height: 120.00000476837158%;
    --poppins-label-bold-font-family: "Poppins-SemiBold", Helvetica;
    --poppins-label-bold-font-size: 14px;
    --poppins-label-bold-font-style: normal;
    --poppins-label-bold-font-weight: 600;
    --poppins-label-bold-letter-spacing: 0px;
    --poppins-label-bold-line-height: 139.9999976158142%;
    --poppins-paragraph-bold-font-family: "Poppins-SemiBold", Helvetica;
    --poppins-paragraph-bold-font-size: 16px;
    --poppins-paragraph-bold-font-style: normal;
    --poppins-paragraph-bold-font-weight: 600;
    --poppins-paragraph-bold-letter-spacing: 0px;
    --poppins-paragraph-bold-line-height: 139.9999976158142%;
    --poppins-paragraph-regular-font-family: "Poppins-Regular", Helvetica;
    --poppins-paragraph-regular-font-size: 16px;
    --poppins-paragraph-regular-font-style: normal;
    --poppins-paragraph-regular-font-weight: 400;
    --poppins-paragraph-regular-letter-spacing: 0px;
    --poppins-paragraph-regular-line-height: 139.9999976158142%;
    --primary-10: rgba(249, 216, 216, 1);
    --primary-50: rgba(226, 62, 62, 1);
    --primary-80: rgba(158, 43, 43, 1);
    --white-0: rgba(255, 255, 255, 1);
    --neutral-10: rgba(241, 241, 241, 1);
        --neutral-20: rgba(217, 217, 217, 1);
        --neutral-30: rgba(193, 193, 193, 1);
        --neutral-90: rgba(48, 48, 48, 1);
        --poppins-h5-bold-font-family: "Poppins-SemiBold", Helvetica;
        --poppins-h5-bold-font-size: 20px;
        --poppins-h5-bold-font-style: normal;
        --poppins-h5-bold-font-weight: 600;
        --poppins-h5-bold-letter-spacing: 0px;
        --poppins-h5-bold-line-height: 139.9999976158142%;
        --poppins-label-bold-font-family: "Poppins-SemiBold", Helvetica;
        --poppins-label-bold-font-size: 14px;
        --poppins-label-bold-font-style: normal;
        --poppins-label-bold-font-weight: 600;
        --poppins-label-bold-letter-spacing: 0px;
        --poppins-label-bold-line-height: 139.9999976158142%;
        --poppins-label-regular-font-family: "Poppins-Regular", Helvetica;
        --poppins-label-regular-font-size: 14px;
        --poppins-label-regular-font-style: normal;
        --poppins-label-regular-font-weight: 400;
        --poppins-label-regular-letter-spacing: 0px;
        --poppins-label-regular-line-height: 139.9999976158142%;
        --poppins-paragraph-bold-font-family: "Poppins-SemiBold", Helvetica;
        --poppins-paragraph-bold-font-size: 16px;
        --poppins-paragraph-bold-font-style: normal;
        --poppins-paragraph-bold-font-weight: 600;
        --poppins-paragraph-bold-letter-spacing: 0px;
        --poppins-paragraph-bold-line-height: 139.9999976158142%;
        --poppins-small-regular-font-family: "Poppins-Regular", Helvetica;
        --poppins-small-regular-font-size: 12px;
        --poppins-small-regular-font-style: normal;
        --poppins-small-regular-font-weight: 400;
        --poppins-small-regular-letter-spacing: 0px;
        --poppins-small-regular-line-height: normal;
        --primary-50: rgba(226, 62, 62, 1);
        --white-0: rgba(255, 255, 255, 1);
}